<% content_for(:title, t('.title')) %>
<div class="flex flex-col justify-center text-center main_image">
  <h1 class="text-3xl py-10"><%= t('.title') %></h1>
  <div>
    <h2 class="text-2xl pb-10"><%= @zoo.name %></h2>
    <h2 class="text-2xl pb-10">所在地<br>
                              <%= @zoo.location %></h2>
    <div class="link link-primary text-2xl font-bold">
      <%= link_to "公式HPリンク", @zoo.link, target: :_blank, rel: "noopener noreferrer" %>
    </div>
  </div>
  <div class="main_image items-center justify-center text-center">
    <h1 class="text-3xl py-10"><%= t 'defaults.posts' %></h1>
    <section class="main_image items-center justify-center text-center">
      <div class="container mx-auto">
        <div class="flex flex-wrap justify-center pb-10">
          <% if @posts.present? %>
            <%= render @posts %>
          <% else %>
            <p class="text-2xl"><%= t('.no_result') %></p>
          <% end %>
        </div>
        <div class="flex justify-center text-center text-3xl pb-16">
        <%= paginate @posts %>
        </div>
      </div>
    </section>
  </div>
</div>

<div style="width: 100%; height: 400px;">
  <div id="map" style="width: 100%; height: 100%;"></div>
</div>

<script>
  // Google Mapsを初期化
  function initMap() {
    var location = '<%= @zoo.location %>';
    var mapOptions = {
      center: { lat: 0, lng: 0 }, // 初期表示は緯度0経度0（後で動物園の位置に更新）
      zoom: 14 // ズームレベル
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    // Geocoding APIを使って住所から緯度経度を取得
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({ address: location }, function(results, status) {
      if (status === 'OK') {
        map.setCenter(results[0].geometry.location);
        // ピンを建てる
        new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        console.log('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>