<% content_for(:title, t('.title')) %>
<div class="flex flex-col justify-center text-center main_image">
  <h1 class="text-3xl py-10"><%= t('.title') %></h1>
  <div>
    <h2 class="text-2xl pb-10"><%= @zoo.name %></h2>
    <h2 class="text-2xl pb-10">所在地<br>
                              <%= @zoo.location %></h2>
    <div class="link link-primary text-2xl font-bold">
      <%= link_to "公式HPリンク", @zoo.link, target: :_blank, rel: "noopener noreferrer" %>
    </div>
  </div>
  <div class="main_image items-center justify-center text-center">
    <h1 class="text-3xl py-10"><%= t 'defaults.posts' %></h1>
    <section class="main_image items-center justify-center text-center">
      <div class="container mx-auto">
        <div class="flex flex-wrap justify-center pb-10">
          <% if @posts.present? %>
            <%= render @posts %>
          <% else %>
            <p class="text-2xl"><%= t('.no_result') %></p>
          <% end %>
        </div>
        <div class="flex justify-center text-center text-3xl pb-16">
        <%= paginate @posts %>
        </div>
      </div>
    </section>
  </div>
</div>
