<div class="main_image">
  <div class="image-container">
    <%= image_tag "top1.jpg", class: "fullscreen-image active", id: "image1" %>
    <%= image_tag "top2.jpg", class: "fullscreen-image", id: "image2" %>
    <%= image_tag "top3.jpg", class: "fullscreen-image", id: "image3" %>
    <%= image_tag "top4.jpg", class: "fullscreen-image", id: "image4" %>
    <%= image_tag "top5.jpg", class: "fullscreen-image", id: "image5" %>
  </div>
  <div class="items-center text-center py-20">
    <p class="text-4xl">ZooManiaでできること</p>
    <br>
    <i class="fa-solid fa-arrow-down fa-beat-fade fa-2xl pb-5"></i>
    <br>
    <%= link_to (t 'top.how_to_use.title'), how_to_use_path, class: "text-3xl link link-primary text-center justify-center items-center pb-20"%>
  </div>
</div>
<style>
  .image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  .fullscreen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 4s ease-in-out;
    opacity: 0;
  }
  .active {
    opacity: 1;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const images = [
      "<%= asset_path('top1.jpg') %>",
      "<%= asset_path('top2.jpg') %>",
      "<%= asset_path('top3.jpg') %>",
      "<%= asset_path('top4.jpg') %>",
      "<%= asset_path('top5.jpg') %>",
    ];
    let currentIndex = 0;
    const imageElements = document.querySelectorAll(".fullscreen-image");
    function crossDissolve() {
      currentIndex = (currentIndex + 1) % images.length;
      const nextImagePath = images[currentIndex];
      const nextImageElement = imageElements[currentIndex];
      const currentImageElement = imageElements[currentIndex === 0 ? images.length - 1 : currentIndex - 1];
      nextImageElement.src = nextImagePath;
      currentImageElement.classList.remove("active");
      nextImageElement.classList.add("active");
      setTimeout(function () {
        crossDissolve();
      }, 8000);
    }
    crossDissolve();
  });
</script>
