<% content_for(:title, t('.title')) %>
<div class="main_image">
  <div class="text-center">
    <div class="text-3xl md:grid justify-items-stretch">
      <div class="font-bold md:w-2/3 xl:w-1/3 justify-self-center pt-10 pb-5"><%= t('.title') %></div>
      <div><%= link_to t('defaults.edit'), edit_profile_path, class: 'btn btn-accent text-white mb-10' %></div>
    </div>
  </div>
  <div class="flex justify-center text-center">
    <div class="md">
      <div class="mb-5">
        <div class="font-bold text-xl", scope="row"><%= t(User.human_attribute_name(:name)) %></div>
        <div class="font-bold text-xl"><%= current_user.name %></div>
      </div>
      <div class="mb-5">
        <div class="font-bold text-xl", scope="row"><%= t(User.human_attribute_name(:email)) %></div>
        <div class="font-bold text-xl"><%= current_user.email %></div>
      </div>
      <div class="mb-5">
        <div class="font-bold text-xl", scope="row"><%= t(User.human_attribute_name(:avatar)) %></div>
        <div class="avatar">
          <div class="w-16 rounded-full mb-10">
            <%= image_tag current_user.avatar.url %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
