<% content_for(:title, t('.title')) %>
<div class="flex justify-center text-center main_image">
  <div>
    <h1 class="text-4xl py-20"><%= t('.title') %></h1>
    <%= form_with model:@user,url:password_reset_path(@token),local: true do |f|%>
      <div class="form-group pb-20 text-2xl">
          <%=f.label :password%>
          <%=f.password_field :password,class: 'form-control input input-bordered input-primary w-full' %>
      </div>
      <div class="form-group pb-20 text-2xl">
          <%=f.label :password_confirmation%>
          <%=f.password_field :password_confirmation,class: 'form-control input input-bordered input-primary w-full' %>
      </div>
      <div class="d-grid pb-20">
        <%= f.submit t('defaults.update'), class: 'btn btn-primary text-white' %>
      </div>
    <%end%>
  </div>
</div>
