<h1>お気に入り動物園の編集</h1>
<%= form_with(model: [@user, @favorite_zoo], url: user_favorite_zoo_path(@user, @favorite_zoo), method: :patch) do |form| %>
  <div>
    <%= form.label :rank, "順位" %>
    <%= form.select :rank, (1..3).to_a, { prompt: "順位を選択してください" } %>
  </div>
  <div>
    <%= form.label :zoo_id, "動物園" %>
    <%= form.collection_select :zoo_id, Zoo.all, :id, :name, { prompt: "動物園を選択してください" } %>
  </div>
  <%= form.submit "更新" %>
<% end %>