<% content_for(:title, t('.title')) %>
<div class="main_image">
  <div class="text-center">
    <div class="pt-16">
      <div class="md:grid justify-items-stretch">
        <div class="font-bold md:w-2/3 xl:w-1/3 justify-self-center text-3xl pb-16"><%= t('defaults.favorite_zoo') %></div>
        <div style="position: relative; text-align: center;" class="pb-16">
          <span style="display: flex; align-items: center; justify-content: center;" class="text-center text-xl">
            ここではみんなのお気に入りの動物園のうち<br>
            トップ3を登録してほしいゾゥ<br>
            ただし、注意点が3つあるゾゥ<br>
            1つの順位に対して、1つしか動物園は登録できないゾゥ<br>
            1つの動物園は、複数の順位には登録できないゾゥ<br>
            お気に入りを変更する場合は、1度削除してから再度登録してほしいゾゥ<br>
          </span>
          <%= image_tag "animalface_zou.png", class: "message-image w-16 rounded-full mx-auto" %>
        </div>
        <div class="main_image flex items-center justify-center text-center pb-8">
          <% if @user.favorite_zoos.count < 3 %>
            <%= form_with(model: [@user, @favorite_zoo], url: user_favorite_zoos_path(@user)) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="flex flex-col items-center text-2xl pb-16">
                <%= f.label :rank %>
                <%= f.select :rank, (1..3).to_a, { prompt: "順位を選択してください" }, class: 'input input-bordered input-primary', style: 'width: 220px;' %>
              </div>
              <div class="flex flex-col items-center text-2xl">
                <%= f.label :zoo_id %>
                <%= f.collection_select :zoo_id, Zoo.all, :id, :name, { prompt: "動物園を選択してください" }, class: 'input input-bordered input-primary', style: 'width: 320px;' %>
              </div>
              <%= f.submit class: "btn btn-primary text-white font-bold my-16" %>
            <% end %>
          <% end %>
        </div>
        <div class="items-center justify-center text-center pb-10">
          <% @favorite_zoos.each do |favorite_zoo| %>
            <div class="flex items-center justify-center text-center mb-10">
              <div class="text-2xl link link-primary pr-2">
                第<%= favorite_zoo.rank %>位 <%= link_to favorite_zoo.zoo.name, zoo_path(favorite_zoo.zoo) %>
              </div>
              <%= link_to t('defaults.destroy'), user_favorite_zoo_path(current_user, favorite_zoo), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.destroy?') }, class: "btn btn-neutral text-white" %>
            </div>
          <% end %>
          <% if current_user.favorite_zoos.present? %>
            <%= link_to "https://twitter.com/share?url=https://www.zoomania.top/zoos/ranking/&text=#{current_user.name}さんがお気に入りの動物園を登録しました！%0A&hashtags=ZooMania", class: 'btn btn-secondary text-white', target: '_blank' do %>
              <i class="fab fa-twitter fa-2xl"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
