<div class="flex justify-center text-center">
  <div class="">
    <div class="">
      <h1 class="text-3xl my-5"><%= t('.title') %></h1>
    </div>
    <%= form_with model: @user, local: true do |f| %>
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'w-full m-3 p-3' %>
      </div>
      <div class="mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'w-full m-3 p-3' %>
      </div>
      <div class="mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'w-full m-3 p-3' %>
      </div>
      <div class="mb-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'w-full m-3 p-3' %>
      </div>
      <div class="mb-3">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, onchange: 'previewFileWithId(preview)', class: 'form-control w-full m-3 p-3', accept: 'image/*' %>
        <%= f.hidden_field :avatar_cache %>
      </div>
      <div class="d-grid mb-10">
        <%= f.submit t('defaults.register'), class: 'btn btn-primary text-headfoot' %>
      </div>
      <div class='text-center'>
        <%#= link_to (t 'defaults.loginpage'), login_path, class: "btn btn-primary text-headfoot"%>
      </div>
    <% end %>
  </div>
</div>
