<header class="header_image">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center py-2">
    <%= link_to image_tag('logo_cut.png', size: '150x150'), root_path %>
    <div class="md:ml-auto flex flex-wrap items-center md:text-xl justify-center">
      <div class="dropdown dropdown-hover mx-1">
        <label tabindex="0" class="btn btn-primary text-white">動物園</label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <%= link_to (t 'zoos.index.title'), zoos_path, class: "btn btn-primary text-white my-1" %>
          <%= link_to (t 'zoos.ranking.title'), ranking_zoos_path, class: "btn btn-primary text-white my-1" %>
          <%= link_to (t 'zoos.recommend.title'), recommend_zoos_path, class: "btn btn-primary text-white my-1" %>
        </ul>
      </div>
      <div class="dropdown dropdown-hover mx-1">
        <label tabindex="0" class="btn btn-primary text-white">投稿</label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <% if logged_in? %>
            <%= link_to (t 'posts.new.title'), new_post_path, class: "btn btn-primary text-white my-1" %>
          <% end %>
          <%= link_to (t 'posts.index.title'), posts_path, class: "btn btn-primary text-white my-1" %>
          <%= link_to (t 'posts.ranking.title'), ranking_posts_path, class: "btn btn-primary text-white my-1" %>
        </ul>
      </div>
      <% if logged_in? %>
        <div class="dropdown dropdown-hover dropdown-end">
          <label tabindex="0" class="btn mx-1" style="background-color: transparent; border: none;">
            <div class="avatar">
              <div class="w-16 rounded-full">
                <%= image_tag current_user.avatar.url %>
              </div>
            </div>
          </label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <%= link_to (t "profiles.show.title"), profile_path, class: "btn btn-primary text-white my-1" %>
            <%= link_to (t "favorite_zoos.new.title"), new_user_favorite_zoo_path(current_user), class: "btn btn-primary text-white my-1" %>
            <%= link_to (t "posts.my_posts.title"), my_posts_posts_path, class: "btn btn-primary text-white my-1" %>
            <%= link_to (t "posts.my_like_posts.title"), my_like_posts_posts_path, class: "btn btn-primary text-white my-1" %>
            <%= link_to (t "posts.stamp_rally.title"), stamp_rally_posts_path, class: "btn btn-primary text-white my-1" %>
            <%= link_to (t 'defaults.logout'), logout_path, data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.logout?') }, class: "btn btn-primary text-white my-1" %>
          </ul>
      <% else %>
        <%= link_to (t 'defaults.loginpage'), login_path, class: "btn btn-primary text-white mx-1"%>
        <%= link_to (t 'defaults.register_page'), new_user_path, class: "btn btn-primary text-white mx-1"%>
      <% end %>
    </div>
  </div>
</header>
