<header class= "py-20">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <div>
      <%= link_to "ZooMania", root_path, class: "text-5xl" %>
    </div>
    <div class="md:ml-auto flex flex-wrap items-center text-base md:text-xl justify-center">
      <% if logged_in? %>
        <%= link_to (t 'zoos.index.title'), zoos_path, class: "btn mr-5"%>
        <%= link_to "動物園ランキング", ranking_zoos_path, class: "btn mr-5"%>
        <%= link_to "お気に入り新規作成", new_user_favorite_zoo_path(current_user), class: "btn mr-5"%>
        <%= link_to (t "profiles.show.title"), profile_path, class: "btn mr-5" %>
        <%= link_to (t 'defaults.logout'), logout_path, data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.logout?') }, class: "btn mr-5" %>
        <div class="avatar">
          <div class="w-16 rounded-full">
            <%= image_tag current_user.avatar.url %>
          </div>
        </div>
      <% else %>
        <%= link_to (t 'zoos.index.title'), zoos_path, class: "btn mr-5"%>
        <%= link_to (t 'defaults.loginpage'), login_path, class: "btn mr-5 text-headfoot"%>
        <%= link_to (t 'defaults.register_page'), new_user_path, class: "btn mr-5 text-headfoot"%>
      <% end %>
    </div>
  </div>
</header>
