<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.title %>
  </td>
  <td>
    <%= post.user.name %>
  </td>
  <td>
    <%= l post.created_at, format: :long %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_post_path(post), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_post_path(post), class: 'btn btn-success' %>
    <%= link_to t('defaults.destroy'), admin_post_path(post), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.destroy?') }, class: "btn btn-neutral text-white" %>
  </td>
</tr>