<% content_for(:title, @post.title) %>
<div class="p-20 main_image">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class="py-10 text-3xl"><%= t '.title' %></h1>
      <%= form_with model: @post, url: admin_post_path(@post), local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group mb-5">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group mb-5">
          <%= f.label :image %>
          <%= f.file_field :image, class: 'form-control mb-3', accept: 'image/*', onchange: 'previewImage(preview)' %>
          <%= f.hidden_field :image_cache %>
        </div>
        <div class='mb-5'>
          <%= image_tag @post.image.url, id: 'preview', size: '300x200' %>
        </div>
        <%= f.submit class: 'btn btn-primary text-white' %>
      <% end %>
    </div>
  </div>
</div>
