<% content_for(:title, @post.title) %>
<div class="pt-20 pb-28 px-20 main_image">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class="py-10 text-3xl"><%= t('.title') %></h1>
      <div class="text-right mb-3">
        <%= link_to t('defaults.edit'), edit_admin_post_path(@post), class: 'btn btn-accent text-white mx-1' %>
        <%= link_to t('defaults.destroy'), admin_post_path(@post), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.destroy?') }, class: "btn btn-neutral text-white mx-1" %>
      </div>
      <table class="table table-bordered">
        <tr>
          <th scope="row"><%= Post.human_attribute_name(:id) %></th>
          <td><%= @post.id %></td>
        </tr>
        <tr>
          <th scope="row"><%= Post.human_attribute_name(:title) %></th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th scope="row"><%= Post.human_attribute_name(:user) %></th>
          <td><%= @post.user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= Post.human_attribute_name(:created_at) %></th>
          <td><%= l @post.created_at, format: :long %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
