<div class="card w-96 shadow-xl post_image m-3">
  <figure class="p-5"><%= image_tag post.image_url, alt:"Posts" %></figure>
  <div class="card-body">
    <h2 class="card-title pl-2"><%= post.title %></h2>
    <p><%= post.user.name %></p>
    <p class="link link-primary"><%= link_to post.zoo.name, zoo_path(post.zoo) %></p>
    <div class="card-actions justify-end">
      <% if current_user && current_user == post.user %>
        <%= link_to "https://twitter.com/share?url=#{ request.url }&text=#{post.user.name}さんが#{post.zoo.name}で撮った写真を投稿しました！%0A&hashtags=ZooMania&hashtags=#{post.zoo.name}", class: 'btn btn-secondary text-white', title: 'Twitter', target: '_blank' do %>
          <i class="fab fa-twitter fa-2xl"></i>
        <% end %>
        <%= link_to  t('defaults.edit'), edit_post_path(post), class: "btn btn-accent text-white" %>
        <%= link_to t('defaults.destroy'), post_path(post), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.destroy?') }, class: "btn btn-neutral text-white" %>
      <% elsif current_user %>
        <td>
          <div id="js-like-button-for-post-<%= post.id %>" data-turbo-frame="js-like-button-for-post-<%= post.id %>">
            <%= render "likes/like", post: post %>
          </div>
        </td>
      <% end %>
    </div>
  </div>
</div>
