<div class="card w-96 shadow-xl post_image m-3">
  <figure class="p-5"><%= image_tag post.image_url, alt:"Posts" %></figure>
  <div class="card-body items-center justify-center text-center flex space-between">
    <h2 class="text-xl pb-2 link link-primary">
      <%= link_to post.title, post_path(post) %>
    </h2>
    <div class="flex items-center">
      <p class="text-xl p-2"><%= post.user.name %></p>
      <div class="avatar">
        <div class="w-8 h-8 rounded-full">
          <%= image_tag post.user.avatar.url %>
        </div>
      </div>
    </div>
    <p class="link link-primary text-l py-2"><%= link_to post.zoo.name, zoo_path(post.zoo) %></p>
    <div class="card-actions pb-2">
      <% if current_user %>
        <td>
          <div id="js-like-button-for-post-<%= post.id %>" data-turbo-frame="js-like-button-for-post-<%= post.id %>">
            <%= render "likes/like", post: post %>
          </div>
        </td>
      <% else %>
        <td>
          <%= post.likes.count %><%= t('defaults.like') %>
        </td>
      <% end %>
    </div>
    <div class="card-actions">
      <% if current_user && current_user == post.user %>
        <%= link_to  t('defaults.edit'), edit_post_path(post), class: "btn btn-accent text-brown" %>
        <%= link_to t('defaults.destroy'), post_path(post), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.destroy?') }, class: "btn btn-neutral text-white" %>
      <% end %>
    </div>
  </div>
</div>
