<% content_for(:title, t('.title')) %>
<div class="flex flex-col justify-center items-center main_image">
  <h1 class="text-3xl py-16"><%= t '.title' %></h1>
  <div class="card w-96 shadow-xl post_image mb-16">
    <figure class="p-5"><%= image_tag @post.image_url, alt: "Posts" %></figure>
    <div class="card-body items-center justify-center text-center flex flex-col">
      <h2 class="text-xl py-2"><%= @post.title %></h2>
      <div class="flex items-center">
        <p class="text-xl p-2"><%= @post.user.name %></p>
        <div class="avatar">
          <div class="w-8 h-8 rounded-full">
            <%= image_tag @post.user.avatar.url %>
          </div>
        </div>
      </div>
      <p class="link link-primary text-l py-2"><%= link_to @post.zoo.name, zoo_path(@post.zoo) %></p>
      <div class="card-actions justify-end">
        <% set_meta_tags  og: { image: image_url(@post.image_url) }, twitter: { image: image_url(@post.image_url) } %>
        <%= link_to "https://twitter.com/share?url=#{ request.url }&text=#{@post.user.name}さんが「#{@post.title}」を投稿しました！%0A&hashtags=ZooMania&hashtags=#{@post.zoo.name}", class: 'btn btn-secondary text-white', target: '_blank' do %>
          <i class="fab fa-twitter fa-2xl"></i>
        <% end %>
        <% if current_user && current_user == @post.user %>
          <%= link_to t('defaults.edit'), edit_post_path(@post), class: "btn btn-accent text-white" %>
          <%= link_to t('defaults.destroy'), post_path(@post), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.destroy?') }, class: "btn btn-neutral text-white" %>
        <% elsif current_user %>
          <td>
            <div id="js-like-button-for-post-<%= @post.id %>" data-turbo-frame="js-like-button-for-post-<%= @post.id %>">
              <%= render "likes/like", post: @post %>
            </div>
          </td>
        <% end %>
      </div>
    </div>
  </div>
</div>
