<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.role_i18n %>
  </td>
  <td>
    <%= l user.created_at, format: :long %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_user_path(user), class: 'btn btn-info text-white mx-1' %>
    <%= link_to t('defaults.edit'), edit_admin_user_path(user), class: 'btn btn-accent text-white mx-1' %>
    <%= link_to t('defaults.destroy'), admin_user_path(user), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.destroy?') }, class: "btn btn-neutral text-white mx-1" %>
  </td>
</tr>