<% content_for(:title, t('.title')) %>
<div class="p-20 main_image">
  <h1 class="py-10 text-3xl"><%= t('.title') %></h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr class="text-brown text-lg">
            <th scope="col"><%= User.human_attribute_name(:id) %></th>
            <th scope="col"><%= User.human_attribute_name(:name) %></th>
            <th scope="col"><%= User.human_attribute_name(:email) %></th>
            <th scope="col"><%= User.human_attribute_name(:role) %></th>
            <th scope="col"><%= User.human_attribute_name(:created_at) %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>
